@charset "UTF-8";

/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, figure, img, fieldset,
a, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, small, strong, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	font-size:1em;
}

html{
    font:14px/1.3 "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", Arial, Helvetica, Tahoma, sans-serif;
}



/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body{
	background:#FFF;
	width:100%;
	color:#252525;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
header{
	width:100%;
	overflow:hidden;
}

.top{
	display: table;
	width: 100%;
	background:url(img/header_bg.gif) repeat-x;
	background-image:-moz-linear-gradient(top, #0093B5, #00769E);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#0093B5), to(#00769E));
	background-image:-o-linear-gradient(top, #0093B5, #00769E);
	background-image:linear-gradient(top, #0093B5, #00769E);
	border-bottom:solid 1px #00355F;
	color:#FFF;
	text-shadow:1px 1px 1px #004673;
}

.screen{
	display: table;
	width: 100%;
	background:url(img/header_bg.gif) repeat-x;
	background-image:-moz-linear-gradient(top, #cfd9df, #e2ebf0);
	background-image:-webkit-gradient(linear, center top, center bottom, from(#cfd9df), to(#e2ebf0));
	background-image:-o-linear-gradient(top, #cfd9df, #e2ebf0);
	background-image:linear-gradient(top, #cfd9df, #e2ebf0);
	border-bottom:solid 1px #cfd9df;
	color:#000;
	text-shadow:1px 1px 1px #e2ebf0;
}

.logo {
	width: 30%;
	display: table-cell;
	text-align: left;
	padding: 3%;
	vertical-align: middle;
}
.screen_name{
	display: table-cell;
	text-align: center;
	padding: 3%;
	vertical-align: middle;
}
.login_info{
	width: 30%;
	display: table-cell; 
	text-align: right; 
	padding: 3%;
	vertical-align: middle;
}
.back {
	width: 30%;
	display: table-cell;
	text-align: left;
	padding: 3%;
	vertical-align: middle;
}

.red {
	color: red;
}

.blue {
	color: blue;
}