@charset "UTF-8";

table {
	border-collapse: collapse;
}

table th, table td {
	border: solid 1px black;
	padding: 3%;
}

/*------------------------------------------------------------
	日付選択
------------------------------------------------------------*/
.dateSelectHeaderArea{
	width: 100%;
	text-align: center;
	padding-top: 2%;
	background-color: #FFF;
}

.dateSelectHeader{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.timeHeader{
	width: 20%;
}

.dayHeader{
	width: 100%;
	display: table;
}

.lastWeek{
	font-weight: lighter;
	display: teble-cell;
	text-align: left;
	color: blue;
	text-decoration: underline;
}

.yearMonth{
	display: table-cell;
	text-align: center;
}

.nextWeek{
	font-weight: lighter;
	display: table-cell;
	text-align: right;
	color: blue;
	text-decoration: underline;
}

.dateSelectBodyArea{
	width: 100%;
	text-align: center;
}

.dateSelectBody{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(99, 99, 99, 0.3);
	display: none;
	z-index: 998;
}

#overlayWindow {
	width: 80%;
	height: 35%;
	margin: 50% auto;
	border: 2px solid #BFBFBF;
	background-color: #FFF;
	text-align: center;
	display: none;
	z-index: 999;
}

.selectTimeArea{
	width: 100%;
	text-align: left;
}

.closeButton{
	width: 95%;
	text-align: right;
	margin: 1%;
	font-size: 14pt;
	font-weight: bold;
}

.selectedDate{
	width: 100%;
	padding-left: 5%;
	padding-top: 5%;
	text-align: left;
}

.selectTime{
	padding-top: 5%;
	padding-left: 5%;
}

.gotoInputScreen{
	width: 100%;
	padding-top: 10%;
	text-align: center;
}


/*------------------------------------------------------------
	セレクトボックス
------------------------------------------------------------*/
.cp_ipselect {
	position: relative;
	width: 90%;
	margin-top: 7%;
	margin-left: 5%;
	--margin: 2em auto;
	text-align: center;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
--	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
--	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
--	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}