@charset "UTF-8";

.top{
	display: table;
	width: 100%;
--	background:url(img/header_bg.gif) repeat-x;
	background-image:-moz-linear-gradient(top, rgb(136,0,0), rgb(136,0,0));
	background-image:-webkit-gradient(linear, center top, center bottom, from(rgb(136,0,0)), to(rgb(136,0,0)));
	background-image:-o-linear-gradient(top, rgb(136,0,0), rgb(136,0,0));
	background-image:linear-gradient(top, rgb(136,0,0), rgb(136,0,0));
	border-bottom:solid 1px rgb(136,0,0);
	color:#FFF;
	text-shadow:1px 1px 1px rgb(136,0,0);
	font-size: 15pt;
}

.logo {
	width: 10%;
	display: table-cell;
	text-align: left;
	padding: 3%;
	vertical-align: middle;
}
.title {
	width: 40%;
	display: table-cell;
	text-align: center;
	padding: 3%;
	vertical-align: middle;
}
.screen_name{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.login_info{
	width: 10%;
	display: table-cell; 
	text-align: right; 
	padding: 3%;
	vertical-align: middle;
}

/*------------------------------------------------------------
	重要
------------------------------------------------------------*/
.important {
	width: 100%;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.important_contents {
	width: 90%;
	border: 2px solid ;
	display: inline-block;
	text-align: left;
	padding: 1%;
--	color: red;
	text-decoration: underline;
}

/*------------------------------------------------------------
	メニュー
------------------------------------------------------------*/
.menu {
	display: table;
	width: 100%;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#DFDFDF), to(#C1C1C1));
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #FFF transparent #929292;
	height: 60px;
	cursor: pointer;
}

.menu_contents_left {
	width: 10%;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.menu_contents_center {
	width: 80%; 
	display: table-cell; 
	text-align: center; 
	padding-top: 3%; 
	padding-bottom: 3%;
	vertical-align: middle;
}

.menu_contents_right {
	width: 10%; 
	display: table-cell; 
	text-align: right;
	background: url(../img/link_icon.png) no-repeat  center;
	vertical-align: middle;
}

.information {
	margin-top: 2%;
}

.information_content {
	padding-left: 2%;
	padding-right: 2%;
}

.information_slash {
	width: 97%; 
	border-top: 1px dashed #bbb;
}


th,td {
    border: solid 1px;              /* 枠線指定 */
}
table {
	width: 100%;
    border-collapse:  collapse;     /* セルの線を重ねる */
}

.title1 {
	background-color: #cfcfcf;
	width: 10%;
	text-align: center;
}

.title2 {
	background-color: #cfcfcf;
	width: 20%;
}

.titleHead {
	text-align: center;
	padding: 2px;
	background-color: #cfcfcf;
}
.content {
	width: 48%;
}

.update {
	width: 22%;
}

.contentsHead {
	text-align: center;
	padding: 3px;
}

.contentsBody {
	padding: 3px;
}

.contentsBodyBox {
	width: 100%;
	display: table;
}

.contentsBodyBoxLeft {
	text-align: left;
	display: table-cell;
}

.contentsBodyBoxRight {
	text-align: right;
	display: table-cell;
}

.contentsFoot {
	text-align: center;
	padding: 3px;
	font-size: 10pt;
}

.kyojusya {
	margin-top: 20px;
}

.displayNone {
	display: none;
}

.inputContents {
	width: 90%;
}

.keiyakusyaName {
	font-weight: bold;
}

.meigiText {
	font-size: 9pt;
}

.bgblue {
	background-color: rgb(218,227,243);
}

.fontblue {
	color: blue;
}

.fontbold {
	font-weight: bold;
}

.height40 {
	height: 40px;
}
/*------------------------------------------------------------
	セレクトボックス
------------------------------------------------------------*/
.cp_ipselect {
	position: relative;
	width: 90%;
	margin-top: 7%;
	margin-left: 5%;
	--margin: 2em auto;
	text-align: center;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
--	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
--	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #da3c41;
	top: -20px;
	transition: 0.2s ease all;
--	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}