@charset "UTF-8";

.space_unit{
	--position: relative;
	box-shadow: 2px 2px 2px 2px gray;
	width: 99%;
	margin-bottom: 3%;
	display: table;
	background: linear-gradient(-45deg, rgba(247, 250, 255, .8), rgba(205, 223, 255, .8));
	background-size: cover;
	--z-index: -1;
}

.space_link {
	position: absolute;
	top: 47%;
	left: 95%; 
}

.space_contents1{
	width: 100%;
	display: table;
}

.space_contents2{
	width: 100%;
	display: table;
}

.space_contents3{
	width: 100%;
	display: table;
}

.space_name{
	width: 70%;
	display: table-cell;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
	font-weight: bold;
}

.space_info1{
	width: 30%;
	display: table-cell;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 0%;
	padding-right: 5%;
	text-align: right;
}

.space_info2{
	width: 30%;
	display: table-cell;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 3%;
	padding-right: 0%; 
}

.space_info3{
	width: 70%;
	display: table-cell;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 0%;
	padding-right: 5%;
	text-align: right;
}

.space_image{
	width: 30%;
	display: table-cell;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 2%;
}

.space_info4{
	width: 70%;
	display: table-cell;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 5%;
	text-align: left;
	vertical-align: top;
}








img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-wrapper {
--  margin: 3rem auto;
--  width: 320px;
  width: 45%;
  float: left;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
}

.card__header {
  display: flex;

  flex-wrap: wrap;
}

.card__title {
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  order: 1;
}

.card__thumbnail {
  margin: 0;
  order: 0;
}

.card__image {
  width: 100%;
}

.card__body {
  padding: 1rem;
}

.card__text {
  font-size: .75rem;
}

.card__text + .card__text {
  margin-top: .5rem;
}

.card__text.-number {
  text-align: right;
}

.card__footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.button {
  display: inline-block;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
}

.button.-compact {
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: #26a69a;
  color: #fff;
  font-weight: bold;
}

.button.-compact:hover,
.button.-compact:focus {
  background-color: #80cbc4;
}